<div style="margin-left: 15px; margin-right: 15px;">
    <div style="margin-bottom: 10px;">
        <h4>Microservice health</h4>
    </div>
    <div class="d-flex" style="margin-bottom: 20px;">
        <div style="margin-right: 40px;">
            <p>
                <b>Status </b><span *ngIf="microserviceHealth">{{microserviceHealth.status}}</span>
            </p>
        </div>
        <div *ngIf="microserviceHealth.status === 'UP'" style="margin-right: 40px;">
            <p>
                <b>Heap memory </b><span>{{microserviceHealth.components.diskSpace.status}}</span>
            </p>
        </div>
        <div *ngIf="microserviceHealth.status === 'UP'" style="margin-right: 40px;">
            <p>
                <b>Heap memory </b><span>{{microserviceHealth.components.heapMemory.status}}</span>
            </p>
        </div>
        <div *ngIf="microserviceHealth.status === 'UP'" style="margin-right: 40px;">
            <p>
                <b>Heap memory </b><span>{{microserviceHealth.components.nonHeapMemory.status}}</span>
            </p>
        </div>
    </div>
    <div class="d-flex flex-wrap">
        <div style="margin-right: 40px;">
            <h4>All tickets</h4>
            <table class="table table-striped c8y-table-responsive" style="margin-bottom: 10px;">
                <thead>
                    <tr>
                        <th>Ticket id</th>
                        <th>Subject</th>
                        <th>Description</th>
                        <th>Creation date</th>
                        <th>Last updated date</th>
                        <th>Alarm id</th>
                        <th>Device id</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ticket of paginatedTickets">
                        <td>{{ticket.id}}</td>
                        <td>{{ticket.subject}}</td>
                        <td>{{ticket.description}}</td>
                        <td>{{ticket.creationDate}}</td>
                        <td>{{ticket.lastUpdateDate}}</td>
                        <td>{{ticket.alarmId}}</td>
                        <td>{{ticket.deviceId}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination [totalItems]="tickets.length" previousText=" "   
            nextText=" " [itemsPerPage]="totalTicketsPerPage" (pageChanged)="ticketsPageChanged($event)"></pagination>
        </div>
        <div style="margin-right: 40px;">
            <div style="margin-bottom: 20px;">
                <h4 style="margin-bottom: 20px;">Tickets by priority</h4>
                <canvas id="priorityChart"></canvas>
            </div>
            <div style="margin-bottom: 20px;">
                <h4 style="margin-bottom: 20px;">Tickets by status</h4>
                <canvas id="statusChart"></canvas>
            </div>
        </div>
        <div style="margin-right: 40px;">
            <h4>Device Alarm mappings</h4>
            <table class="table table-striped c8y-table-responsive" style="margin-bottom: 10px;">
                <thead>
                    <tr>
                        <th>Device id</th>
                        <th>Alarm type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let daMapping of paginatedDAMappings">
                        <td>{{daMapping.deviceId}}</td>
                        <td>{{daMapping.alarmType}}</td>
                    </tr>
                </tbody>
            </table>
            <pagination [totalItems]="daMappings.length" previousText=" "   
            nextText=" " [itemsPerPage]="totalDAMappingsPerPage" (pageChanged)="daMappingsPageChanged($event)"></pagination>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            
            
        </div>

        
    </div>
    <div class="row">
        <div class="col-lg-4">
            <!--<canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
            </canvas>-->
            
        </div>
    </div>

</div>
