<div style="margin-left: 15px; margin-right: 15px;">
    <h4 style="margin-bottom: 20px;">
        Microservice
        <!-- Microservice logs button -->
        <button class="btn-clean btn-icon" (click)="redirectToMicroserviceLogs()" title="View microservice logs">
            <i c8yicon="logs" class="dlt-c8y-icon-logs"></i>
        </button>
    </h4>
    <div class="d-flex" style="margin-bottom: 20px;">
        <div style="margin-right: 40px;">
            <p>
                <b>Status </b>
                <span *ngIf="microserviceHealth && microserviceHealth.status === 'UP'">
                    <i class="dlt-c8y-icon-arrow-circle-up" title="{{microserviceHealth.status}}" style="color: green;"></i>
                </span>
                <span *ngIf="microserviceHealth && microserviceHealth.status !== 'UP'">
                    <i class="dlt-c8y-icon-arrow-circle-down" title="{{microserviceHealth.status}}" style="color: red;"></i>
                </span>
            </p>
        </div>
        <div *ngIf="microserviceHealth.status === 'UP'" style="margin-right: 40px;">
            <p>
                <b>Disk space </b>
                <span *ngIf="microserviceHealth.components.diskSpace.status === 'UP'">
                    <i class="dlt-c8y-icon-arrow-circle-up" title="{{microserviceHealth.components.diskSpace.status}}" style="color: green;"></i>
                </span>
                <span *ngIf="microserviceHealth.components.diskSpace.status !== 'UP'">
                    <i class="dlt-c8y-icon-arrow-circle-down" title="{{microserviceHealth.components.diskSpace.status}}" style="color: red;"></i>
                </span>
            </p>
        </div>
        <div *ngIf="microserviceHealth.status === 'UP'" style="margin-right: 40px;">
            <p>
                <b>Heap memory </b>
                <span *ngIf="microserviceHealth.components.heapMemory.status === 'UP'">
                    <i class="dlt-c8y-icon-arrow-circle-up" title="{{microserviceHealth.components.heapMemory.status}}" style="color: green;"></i>
                </span>
                <span *ngIf="microserviceHealth.components.heapMemory.status !== 'UP'">
                    <i class="dlt-c8y-icon-arrow-circle-down" title="{{microserviceHealth.components.heapMemory.status}}" style="color: red;"></i>
                </span>
            </p>
        </div>
        <div *ngIf="microserviceHealth.status === 'UP'" style="margin-right: 40px;">
            <p>
                <b>Non-heap memory </b>
                <span *ngIf="microserviceHealth.components.nonHeapMemory.status === 'UP'">
                    <i class="dlt-c8y-icon-arrow-circle-up" title="{{microserviceHealth.components.nonHeapMemory.status}}" style="color: green;"></i>
                </span>
                <span *ngIf="microserviceHealth.components.nonHeapMemory.status !== 'UP'">
                    <i class="dlt-c8y-icon-arrow-circle-down" title="{{microserviceHealth.components.nonHeapMemory.status}}" style="color: red;"></i>
                </span>
            </p>
        </div>
        <div class="m-auto"></div>
        <div>
            <a class="btn btn-xs btn-danger" (click)="deleteConfigManagedObject()">Delete Config Managed Object</a>
            <a class="btn btn-xs btn-danger" (click)="deleteTicketCreationRecords()">Delete All Ticket Creation Records</a>
        </div>
    </div>
    <div class="d-flex" style="margin-bottom: 20px;">
        <div style="margin-right: 40px;">
            <h4 style="margin-bottom: 20px;">Tickets by priority</h4>
            <!-- Tickets by priority chart -->
            <div *ngIf="tickets.length === 0">No tickets...</div>
            <canvas id="priorityChart"></canvas>
        </div>
        <div style="margin-right: 40px;">
            <h4 style="margin-bottom: 20px;">Tickets by status</h4>
            <!-- Tickets by status chart -->
            <div *ngIf="tickets.length === 0">No tickets...</div>
            <canvas id="statusChart"></canvas>
        </div>
        <div style="margin-right: 40px;">
            <h4 style="margin-bottom: 20px;">Tickets by device</h4>
            <!-- Tickets by device chart -->
            <div *ngIf="tickets.length === 0">No tickets...</div>
            <canvas id="deviceChart"></canvas>
        </div>
        <div style="margin-right: 40px;">
            <h4 style="margin-bottom: 20px;">Device Alarm mappings</h4>
            <!-- Device Alarm Mappings table-->
            <ng-container *ngIf="!tpConfig.alarmSubscription">
                <div>
                    Automatic ticket creation is off.
                </div>
            </ng-container>
            <ng-container *ngIf="tpConfig.alarmSubscription">
                <table class="table table-striped c8y-table-responsive" style="margin-bottom: 10px;">
                    <thead>
                        <tr>
                            <th>Device id</th>
                            <th>Alarm type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let daMapping of paginatedDAMappings">
                            <td><a class="device-link" (click)="redirectToDevicePage(daMapping.deviceId)">{{daMapping.deviceId}}</a></td>
                            <td>{{daMapping.alarmType}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Device Alarm Mappings table pagination -->
                <pagination [totalItems]="daMappings.length" previousText=" "   
                nextText=" " [itemsPerPage]="totalDAMappingsPerPage" (pageChanged)="daMappingsPageChanged($event)"></pagination>
            </ng-container>
        </div>
    </div>
    <h4 style="margin-bottom: 10px;">Overall average cycle time</h4>
    <div class="d-flex" style="margin-bottom: 20px;">
        <div>
            <!-- Average cycle time -->
            <ng-container *ngIf="tickets.length === 0">
                <div style="font-size: 40px;">N.A.</div>
            </ng-container>
            <ng-container *ngIf="tickets.length !== 0">
                <div style="font-size: 40px;">{{averageCycleTime | number : '1.0-1'}} hrs</div>
            </ng-container>
        </div>
    </div>
    <div class="d-flex flex-wrap">
        <div style="margin-right: 40px; margin-bottom: 20px;">
            <h4 style="margin-bottom: 20px;">All tickets</h4>
            <div class="d-flex">
                <!-- Search -->
                <div style="margin-right: 40px;">
                    <div id="search" class="input-group input-group-search" style="margin-bottom: 10px;">
                        <input type="search" class="form-control" placeholder="Search…" [(ngModel)]="ticketFilter.searchText" (ngModelChange)="searchTextChanged()" />
                        <span class="input-group-addon">
                            <i c8yIcon="search" *ngIf="!ticketFilter.searchText || ticketFilter.searchText.length === 0"></i>
                            <i c8yIcon="times" class="text-muted" *ngIf="ticketFilter.searchText && ticketFilter.searchText.length > 0" (click)="ticketFilter.searchText = ''; searchTextChanged()"></i>
                        </span>
                    </div>
                </div>
                <!-- Status filter -->
                <div style="margin-right: 40px;">
                    <div class="btn-group btn-group-sm" role="group">
                        <button *ngFor="let status of ticketFilter.status; let i=index;" type="button" class="btn btn-default" [ngClass]="status.selected ? 'active' : ''" (click)="toggleStatusFilter(i)">{{status.label}}</button>
                      </div>
                </div>
                <!-- Priority filter -->
                <div style="margin-right: 40px;">
                    <div class="btn-group btn-group-sm" role="group">
                        <button *ngFor="let priority of ticketFilter.priority; let i=index;" type="button" class="btn btn-default" [ngClass]="priority.selected ? 'active' : ''" (click)="togglePriorityFilter(i)">{{priority.label}}</button>
                    </div>
                </div>
                <!-- Date filter -->
                <div style="margin-right: 40px;">
                    <div class="form-group datepicker">
                        <input class="form-control" placeholder="Creation date" bsDatepicker [bsConfig]="{ isAnimated: true }" [(ngModel)]="ticketFilter.creationDate" (ngModelChange)="creationDateFilterChanged()" />
                      </div>
                </div>
                <!-- Refresh button -->
                <div style="margin-right: 40px;">
                    <button type="button" class="btn btn-primary" title="Refresh tickets" (click)="refreshTickets()">Refresh</button>
                </div>
            </div>
            <!-- Tickets table -->
            <table class="table table-striped c8y-table-responsive" style="margin-bottom: 10px;">
                <thead>
                    <tr>
                        <th>Ticket id</th>
                        <th>Subject</th>
                        <th>Description</th>
                        <th>Creation date</th>
                        <th>Last updated date</th>
                        <th>Owner</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Alarm id</th>
                        <th>Device id</th>
                        <th *ngIf="config.customwidgetdata.showComments">Comments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ticket of paginatedTickets">
                        <td><a href="{{tpConfig.ticketRecordTemplateUrl | ReplaceTicketId : ticket.id}}" target="_blank" title="View ticket">{{ticket.id}}</a></td>
                        <td>{{ticket.subject}}</td>
                        <td>{{ticket.description}}</td>
                        <td>{{ticket.creationDate | date: 'dd MMM yyyy, HH:mm:ss'}}</td>
                        <td>{{ticket.lastUpdateDate | date: 'dd MMM yyyy, HH:mm:ss'}}</td>
                        <td>{{ticket.owner}}</td>
                        <td>{{ticket.status}}</td>
                        <td>{{ticket.priority}}</td>
                        <td>{{ticket.alarmId}}</td>
                        <td><a class="device-link" (click)="redirectToDevicePage(ticket.deviceId)" title="Go to device page">{{ticket.deviceId}}</a></td>
                        <td *ngIf="config.customwidgetdata.showComments"><button class="btn btn-default" (click)="showTicketComments(ticket)">View</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex a-i-start">
                <div>
                    <!-- Tickets table pagination -->
                    <pagination [totalItems]="searchedTickets.length" previousText=" " nextText=" " [itemsPerPage]="totalTicketsPerPage" (pageChanged)="ticketsPageChanged($event)"></pagination>
                </div>
                <!-- Tickets record count -->
                <p class="m-auto">{{searchedTickets.length}} out of {{tickets.length}} total tickets</p>
            </div>
        </div>
        
        <div style="margin-bottom: 20px;">
            
        </div>
    </div>
</div>